html {
  background-color: #003b00;
}

button {
  height: 100px;
  width: 200px;
  font-size: 35px;
  font-family: sans-serif;
  margin: auto;
}

#wrapper {
  border: 1px solid red;
  margin: 250px auto;
  background-color: black;
  width: 200px;
  padding: 25px;
  height: 100px;
}
